In [2]:
#t-test
import pandas as pd
import math
df=pd.read_csv(r"C:\Users\god\Desktop\AI_lab\population.csv")
df

    x   y
0   1  90
1   2  80
2   3  70
3   4  22
4   5  42
5   6  83
6   7  25
7   8  85
8   9  90
9  10  23

In [5]:
#sampling techniques
sample1=df[df.y%5==0]
sample1

   x   y
0  1  90
1  2  80
2  3  70
6  7  25
7  8  85
8  9  90

In [6]:
#pop_mean
pop_mean=df["y"].mean()
print("The population mean is: ",pop_mean)

The population mean is:  61.0

In [8]:
#sample_mean
sample_mean=sample1["y"].mean()
print("The sample mean is; ",sample_mean)

The sample mean is;  73.33333333333333

In [10]:
#s_xbar
#s_bar=s/sqrt(n)
#s=sqrt(ss/n-1)
#ss=sum(x^2)+sum(x)**2/n
#x-sample
list1=[]
for i in sample1["y"]:
    list1.append(i*i)
    
sum1=sum(list1)

sum2=sample1["y"].sum()
sum2=sum2**2
sum3=sum2/len(sample1)

ss=sum1-sum3

s=(math.sqrt(ss))/(math.sqrt(len(sample1)-1))

s_bar=s/math.sqrt(len(sample1))

print(s_bar)

10.137937550497032

In [11]:
#tvalue
t_value=(sample_mean-pop_mean)/s_bar
print("t-value: ",t_value)

t-value:  1.2165525060596436